body {
  font-family: Lato;
}
.square.dev {
  background-color: #5496cc;
}
.square.pm {
  background-color: #eaae45;
}
.square.client {
  background-color: #66d166;
}
.square.graphic {
  background-color: #ba4ada;
}
.square.qa {
  background-color: #e6e844;
}
.square.marketing {
  background-color: #e55252;
}
